body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}


.main-app{
  position:relative;
 display: flex;
 flex-wrap: wrap;
/* justify-content: center;
justify-content: space-between; */

}
.movie-box{
  position: relative;
 margin-top: 3.25rem;
 margin-left: 4rem;
 margin-right: 3rem;
padding: 0.20rem;
  border: 3px solid red;
  background-color: rgb(144, 161, 161);
  border-radius: 20px;
}
span{
  color:red;
}
.box-btn{
  size: 25px;
  font-size: 15px;
  cursor: pointer;
  background-color: rgb(66, 129, 20);
  border: none;
  margin-bottom: 5px;
  color: azure;
}
.summary-box{
  border: 2px solid grey;
  /* width: 13.2rem; */
  margin: 20px;
  
}
.summary-main-div{
  display:flex;
  flex-direction: row;
 flex-wrap: wrap;
  /* margin: 9px 4px 6px 15px; */
   width: 100%;
   height: 100%;
   background-color: rgb(75, 214, 214);
}
.summary-box-detail{
  margin: 20px;
}
.btn-book-ticket{

  display: flex;
  width: 100%;
  flex-direction: column;
  
  align-items: center;
  justify-content: center;
}
.btn-book-ticket button{
  margin: 3px;
  margin-bottom: 10px;
  font-size: 20px;
  width: 300px;
  cursor: pointer;
  height: 30px;
  border: none;
  border-radius: 10px;
  background-color: aqua;
}

.Form_box-ticket-booking{
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: bisque;
}
.from-field-container{
  background-color: burlywood;

  height:400px;
  width:500px;
}
#user-detail-box{
    margin: 9px;
  display: flex;
  flex-direction: column;
}
#user-detail-box input{
    border: none;
    font-size: 20px;
    border-radius: 9px;
}

#user-detail-box button{
    font-size: 20px;
    color: white;
    background-color: cadetblue;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
